h1{
    color: #a5d6a7;
}
h3{
    color: #5e35b1;
}
h4{
    color: #e64a19;
}
h5{
    color: #607d8b;
}
div{
    color: #64b5f6;
}
table{
color: #5d4037;
border: 2px solid black;
}

#primytercparrafo{
    color: #01579b
}
.segcuartyquitparraf{
    color: #d500f9;
}